page-conversa {

    ion-item{
        background: transparent !important;
        background-color: transparent !important;
    }

    ion-thumbnail{
        border-radius: 50%;
        overflow: hidden;
    }

    ion-navbar{
        height: 60px !important;
    }
    
    h2{
        color: #ffffff !important;
    }

    .btn-enviar{
        border-radius: 100% !important;
    }

    .mensagem-digitada{
        background-color: #dcdcdc !important;
    }

    .input-enviar {
        background: #dcdcdc !important;
        border-radius: 120px !important;
        width: calc(100% - 10px);
    }
    
    #myTextArea{
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent !important; 
    }

    .mensagem_col{
        background-color: color($colors, primary) !important;
        color: #000;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 20px;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px;
    }

    .cor_outro_usuario{
        background-color: #dcdcdc;
        color: #000;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 20px;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px;
    }

    .minha_mensagem {
                
    }

    .outra_mensagem {

    }

    .tempo{
        color: #afafaf;
        float: right;
        font-size: small;
    }

}
