page-conversa {

    ion-item{
        background: transparent !important;
        background-color: transparent !important;
    }

    ion-thumbnail{
        border-radius: 50%;
        overflow: hidden;
    }

    ion-navbar{
        height: 60px !important;
    }
    
    h2{
        color: #ffffff !important;
    }

    .btn-enviar{
        border-radius: 100% !important;
    }

    .mensagem-digitada{
        background-color: #dcdcdc !important;
    }

    .input-enviar {
        background: #dcdcdc !important;
        border-radius: 120px !important;
    }

}
